.header {
background-color: white;
display: flex;
justify-content: space-between;
padding: 24px 50px;
}

.menu-icon{
width: 24px;
height: 32px;
}
        
.intro {
height: 815px;
background-image: url(../img/header-img.jpg);
background-position: top center;
text-align: center;
padding-top: 208px;
box-sizing: border-box;
}

.intro__heading {
font-size: 72px;
width: 750px;
margin: 0 auto 40px auto;
}

.nav-menu {
margin-bottom: 40px;
}

.nav-menu__list {
font-size: 20px;
display: flex;
justify-content: center;
}

.nav-menu__list-item {
margin-right: 10px;
}

.benefits {
height: 1231px;
margin: 80px 50px 0 70px;
}

.benefits-section-first {
display: flex;
justify-content: space-between;

}

.benefits__heading {
font-size: 60px;
width: 700px;
text-align: right;
}

.benefits-section-second {
padding-top: 37%;
position: relative;
}

.benefits-section-second__boy {
border-radius: 50%; 
position: absolute;
z-index: -1; 
top: 40px;
left: 75px;
}

.benefits-section-third {
margin-left: 330px;
}

.benefits-list {
height: 815px;
background-color: #292f33;
box-sizing: border-box;
display: flex;
background-position: left;
}

.benefits-list__box {
height: 715px;
display: flex;
flex-direction: column; 
justify-content: space-between;
position: absolute;
right: 50px;
margin: 50px 0;
}
    
.benefits-list__box-item {
width: 635px;
padding: 20 30px;
background-color: white;
}


.top-list {
background-color: #f5f7fa;
height: 1026px;
}

.top-list__img{
width: 868px;
height: 610px;
margin: -694px auto auto auto;
display: block;
}

.gadgets {
height: 674px;
background-image: url(../img/gadget.jpeg);
background-repeat: no-repeat;
background-size: cover;
padding-top: 90px;
padding-left: 90px;
box-sizing: border-box;
text-align: left;
}

.gadgets__heading {
font-family: 'Ubuntu', sans-serif;
font-size: 72px;
width: 423px;
margin-bottom: 50px;
}

.download {
background-color: white;
height: 1044px;
padding: 65px 50px 0 70px;
}

.download-section-first {
text-align: center;
width: 860px;
margin: 0 auto 40px auto;
}

.download-section-second {
display: flex;
justify-content: space-between;
margin: 0 91px 0 34px;
}

.download-section-third {
display: flex;
margin: -190px 94px 100px 153px;
justify-content: space-between;
position: relative;
}

.download-section-third__circle {
margin-top: 380px;
}

.download-section-third__circle-blue {
position: absolute;
top: 140px;
left: 380px;
}

.vr-tech {
height: 815px;
background-color: #332e29;
position: relative;
}

.vr-tech__bg-beige {
position: absolute;
margin-left: 600px;
height: 815px;
width: 377px;
background-color: #e5bb8d;
}

.vr-tech__bg-beige__people {
width: 730px;
height: 512px;
margin-top: 244px;
margin-left: -180px;
}

.contact  {
height: 772px;
margin: 50px 50px 0 50px;
display: flex;
}


.contact-form {
height: 592px;
display: flex;
flex-direction: column;
width: 100%;
padding: 40px;;
}

.contact__modal-form {
background-color: white;
display: flex;
flex-direction: column;
}


.contact__modal-form__feild {
margin-bottom: 24px;
margin-right: 40px;
}

.modal-form-email, .modal-form-name, .modal-form-message {
width: 100%;
height: 30px;
padding: 4px;   
box-sizing: border-box;
border: none;
}

.modal-form-message{
height: 90px;
}

.modal-form-name:focus {
outline: 0;
box-shadow: 0 0 0 0.1rem #3a4998;
}

.modal-form-name:hover {
outline: 0;
box-shadow: 0 0 0 0.1rem #6c7ac4;
}

.modal-form-email:focus {
outline: 0;
box-shadow: 0 0 0 0.1rem #3a4998;
}
.modal-form-email:hover {
outline: 0;
box-shadow: 0 0 0 0.1rem #6c7ac4;
}
    
.modal-form-message:focus {
outline: 0;
box-shadow: 0 0 0 0.1rem #3a4998;
}
.modal-form-message:hover {
outline: 0;
box-shadow: 0 0 0 0.1rem #6c7ac4;
}
    
.contact__about-social {
display: flex;
flex-direction: row;
width: 200;
margin: 0 0 30px 0;
justify-content: space-between;
}

.contact-about-social__item {
width: 32px; 
height: 32px;
}

.footer-section {
padding: 40px;
box-sizing: border-box;
background-color: #333333;
margin: auto;
text-align: center;
width: 600px;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
}
