body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    
    }
.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1); /* чтоб я видела где кончается страница */
    }

.sidebar-yellow-section{
    width: 212px;
    background-color: #ffca05;
    }
.sidebar-main-section{
    background-color: #292934;
    width: 848px;
    }
.about-me{
    padding-left: 116px;
    padding-right: 88px;
    padding-top: 92px;
    }

.title{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 8px;
    word-spacing: 2px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 78px;
    line-height: 80%;
    color: #ffffff;
    }

.about-me-text{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: lighter;
    /* font-style: normal; */
    color: #ffffff;
    letter-spacing: 3px;
    line-height: 175%;
    word-spacing: 2px;
    display: block;
    padding-bottom: 20px;   
    }
.yellow-hatch{
    color: #292934;
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: #ffca05;
    letter-spacing: -0.05em;
    }
.yellow-hatch-main{
    color: #22222d ;
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: #ffca05;
    letter-spacing: -0.05em;
    }
.yellow-hatch-big {
    color: #ffffff;
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: #ffca05;
    margin-top: -135px;
    }

.about-me-contact-info{
    padding-left: 116px;
    padding-right: 92px;
    padding-top: 120px;
    }

.phone-email-area-box{
    line-height: 80%;
    font-size: 26px;
    color: #ffffff;
    margin-top: 80px;
    }
.phone-email-area-text{
    font-weight: lighter;
    font-size: 28px;
    color: #ffffff;
   }

.main-img-box{
    padding-right: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

.img-box{
    color: #fff;
    }

.img-logo{
    border-radius: 80%;
    border: 2px solid #ffca05;
    padding: 10px;
    margin-top: 20px;
    }
.img-logo-text{
    color: #fff;
    font-weight: normal;
    font-size: 32px;  
    text-transform: capitalize;
    padding-bottom: 250px;
    }   
.main-section-head {
    width: 1496px; 
    background-color: #ffffff;
    height: 1050px;
    }
.title-main{
    font-family: 'BenchNine';
    letter-spacing: 12px;
    word-spacing: 2px;
    font-weight: lighter;
    font-size: 155px;
    text-transform: uppercase;
    line-height: 10%;
    color: #22222d;
    }

    .title-main-bolt{ 
    font-family: 'Bebas Neue';
    letter-spacing: 15px;
    word-spacing: 3px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 10%;
    color: #22222d;
    }
    
.name-profession{
    padding-top: 250px;
    padding-left: 132px;
    padding-right: 90px;
    height: 605px;
    padding-bottom: 130px;
    }

.title-main-little{
    font-family: 'BenchNine';
    letter-spacing: 12px;
    word-spacing: 3px;
    font-style: normal;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 55px;
    line-height: 55px;
    color: #22222d;
    margin-top: -30px;
   }

.main-section{
    background-color: #22222d;
    width: 1496px; 
    color: #ffffff;
    padding-left: 132px;
    
    }

.main-education-container{
    display: flex;
    flex-direction: row;
    }
.education-container-one{
    margin-right: 50px;
    }
.education-container-two{
    padding-left: 150px;
    margin-right: 50px;
    }

.title-main-section{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 8px;
    word-spacing: 2px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 78px;
    line-height: 80%;
    color: #ffffff;
    padding-top: 160px;
    }

.education-box-text{
    text-transform: uppercase;
    font-size: 42px;
    line-height: 80%;
    color: #ffffff;
    margin-top: 20px;
    }
.education-box-text-little{
    font-size: 36px;
    line-height: 150%;
    color: #ffffff;
    margin-top: 42px;
    font-family: Poppins;
    font-weight: 300;
    }
.main-experience-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    }

 .experience-box-text{
    text-transform: capitalize;
    font-size: 42px;
    line-height: 80%;
    color: #ffffff;
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 400;
    }

 .experience-container-two {
    margin-top: 80px;
    }

 .button {
    display: inline-block;
    border: 1px solid #ffca05;
    background-color: #ffca05;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    font-family: Poppins;
    font-weight: 400;
    font-size: 34px;
    }

.experience-box-text-button{
    display: inline-block;
    color: #fff ;
    font-family: Poppins;
    font-weight: 400;
    font-size: 35px;
    line-height: 50%;
    text-transform: capitalize;
    vertical-align: middle;
    padding-left: 30px;
    }

.experience-box-text-little {
    color: #fff ;
    font-family: Poppins;
    font-weight: 400;
    font-size: 35px;
    line-height: 80%;
     
    }
    .expertise {
    margin-top: 220px;
    }
    .container-circle-svg{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 164px;
    padding-top: -10px;
    }

   
.circular-chart {
    display: block;
    margin: 0 15px 50px 30px;
    height: 220px;
    width: 220px;
    flex-shrink: 0; /* запретить ужиматься во флекс-контексте */
  }
  
.circle-bg {
    fill: none;
    stroke: #fff;
    stroke-width: 3.4;
    }
  
.percentage {
    fill: #fff;
    font-family: Poppins;
    font-weight: lighter;
    font-size: 3.5px;
    line-height: 50%;
    text-anchor: middle;
    }

.circle-shadow {
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    stroke: #22222d ;
    transform-origin: 50% 50%;
    transform: rotate(140deg);
    }
.circle {
    fill: none;
    stroke-width: 3.5;
    stroke-linecap: round;
    stroke: #ffca05 ;
    transform-origin: 50% 50%;
    transform: rotate(142deg);
   	/* filter: drop-shadow(0 0 8 rgba(0, 0, 0, 0.5)); */
    }
.circle-two-shadow{
    transform: rotate(160deg);
    }
.circle-two{
   transform: rotate(162deg);  /* такой же как и 4-ый */
    }

.circle-three-shadow{
    transform: rotate(180deg);
    }
.circle-three{
    transform: rotate(182deg);
    }