.header-logo__picture .language {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    z-index: 2;
}

    .language__item {
        font-size: 12px;
        color: #fff;
        font-weight: 700;
        line-height: 12px;
        margin-right: 4px;
        padding: 5px;
        border: none;
        background-color: transparent;
        text-decoration: none;
        align-self: center;
        text-decoration: none;
    }
        .language__item:hover {
            border-radius: 8px;
            background-color: #F0145A;
        }
    

.input {
position: absolute;
opacity: 0;
}

#uk:checked ~ .uk {border-radius: 8px;
                    background-color:#F0145A; height: 15px;}
#ru:checked ~ .ru {border-radius: 8px;
                    background-color: #F0145A}
#en:checked ~ .en {border-radius: 8px;
                    background-color: #F0145A}       

.logo-service {
     display: flex;
     justify-content: flex-start;
     align-items: center;
         }
     
.list-header {
     text-decoration: none;
     display: block;
     font-size: 36px;
     font-weight: 400;
     padding-bottom: 10px;
         }   

.list-header-service {
    color: fff;
    text-decoration: none;
    display: block;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 20px;
    }
                    

 .header-logo {
    height: 47px;
    display: flex;
    justify-content: space-between;

}

.header-logo__contact {
    display: flex;
    justify-content: space-between;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    z-index: 2;
    margin-top: -10px;
  }
  
.header {
    height: 76px;
    z-index: 2;
  }
  
.header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
.header__list {
    height: 40px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-margin-before: -10px;
            margin-block-start: -10px;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  
.header__list li {
    margin-left: 25px;
    color: white;
    text-align: center;
  }
  
.header__link {
    font-size: 16px;
    color: white;
    font-weight: 700;
    line-height: 26px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-decoration: none;
  }

.header__link:hover {
    border-bottom: 2px solid #FFF;
}

.header__link-active {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #F0145A;
    border-bottom: 2px solid #F0145A;
}
  
.header__link-normal {
    font-size: 16px;
    color: white;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
  }
  
.blok-none {
    display: block;
    text-decoration: none;
  }
  
.header__list-none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -50px;
    list-style: none;
    z-index: 2;
  }
  
.header__list-none li {
    display: block;
    margin-top: -10px;
    margin-left: 15px;
    color: white;
    text-align: center;
  } 

    
     @media (max-width: 1440px) {

        }
    
    @media (max-width: 965px) {
            .header-logo {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: reverse;
                    -ms-flex-direction: column-reverse;
                        flex-direction: column-reverse;
                -webkit-box-align: start;
                    -ms-flex-align: start;
                        align-items: flex-start;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: start;
                z-index: 2;
              }
              .header-logo__contact {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: baseline;
                    -ms-flex-align: baseline;
                        align-items: baseline;
                -ms-flex-item-align: center;
                    align-self: center;
                z-index: 2;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                margin-right: 15%;
              }
              .header__menu {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: start;
                padding-left: 30px;
                margin-top: 85px;
              }
              .header__list-none li {
                margin-top: -19px;
              }
        }


        @media (max-width: 734px) {

            .logo-service {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                    }
                
                    .list-header {
                text-decoration: none;
                display: block;
                font-size: 20px;
                font-weight: 400;
                padding-bottom: 5px;
                    }    

            .gamburger {
                position: relative;
                width: 100%;
                display: block;
                z-index: 0;
              }
              .header {
                position: relative;
                width: 100vw;
                margin: 0;
                padding: 0;
              }
              .header__menu {
                display: none;
              }
              .header__list {
                list-style: none;
                margin-right: 10px;
              }
              .header__list li {
                list-style: none;
              }
              .header-logo {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin: 0px;
              }
              .header-logo__picture {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 100vw;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: baseline;
                    -ms-flex-align: baseline;
                        align-items: baseline;
                        margin: 0;
                padding: 0 15px;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
              }
              .header-logo__contact {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                width: 100vw;
                height: 45px;
                -webkit-box-align: baseline;
                    -ms-flex-align: baseline;
                        align-items: baseline;
                margin: 0;
                padding: 13px 0 0 15px;
                background: rgba(245, 245, 250, 0.2);
              }
              .blok-none {
                display: none;
              }

              #menu__toggle {
                display: none;
            }
            
              
            .menu__close {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: -55px;
                right: 10px;
                width: 32px;
                height: 32px;
                cursor: pointer;
                z-index: 1;
                padding: 5px;
            }
              
            .menu__close > span,
            .menu__close > span::before,
            .menu__close > span::after {
                display: block;
                position: absolute;
                width: 22px;
                height: 2px;
                background-color: #fff;
                transition-duration: .25s;
            }
            .menu__close > span::before {
                content: '';
                top: -8px;
            }
            .menu__close > span::after {
                content: '';
                top: 8px;
            }
            
            .menu__box {
                box-sizing: border-box;
                background: #fff;
                text-align: center;
                height: 359px;
                min-width: 90vw;
                padding: 64px 12px 12px 12px;
                border-radius: 12px;
                display: block;
                position: absolute;
                visibility: hidden;
                top: -400px;
                right: 8px;
                list-style: none;
                transition-duration: 0.5s;
            }
            
            .menu__item {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 43px;
                font-size: 24px;
                font-weight: 700;
                color: #24A3FF;
                background: #F5F5FA;
                border-radius: 12px;
                text-decoration: none;
                margin-bottom: 15px;
                transition-duration: 0.5s;
            }
            .menu__item:active {
                background: #E6E6F0;
            }
            .menu__item:hover {
                color: #F0145A;
            }
            
            #menu__toggle:checked ~ .menu__close > span {
                transform: rotate(45deg);
                background-color: #F0145A;
            }
            #menu__toggle:checked ~ .menu__close > span::before {
                
                top: 0;
                transform: rotate(0);
                background-color: #F0145A;
            }
            #menu__toggle:checked ~ .menu__close > span::after {
              
                top: 0;
                transform: rotate(90deg);
                background-color: #F0145A;
            }
            #menu__toggle:checked ~ .menu__box {
                visibility: visible;
                right: 12px;
                top: -55px;
            }

            .list-header-service {
                color: fff;
                text-decoration: none;
                display: block;
                font-size: 22px;
                font-weight: 400;
                padding-bottom: 5px;
                }

        }

        @media (max-width: 375px) {
           /* .logo-service {
            display: flex;
            justify-content: flex-start;
            align-items: center;
                }
            
            .list-header {
            text-decoration: none;
            display: block;
            padding-bottom: 2px;
                }    */
        }
      
            